@model RichlynnFinancialPortal.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

    <h1 class="text-white" id="bankAccountDetailsH1">Bank Account Details</h1>
    <div class="mt-5" id="bankAccountDetailsContainer">
        
        <table>
            <thead class="text-white backgroundCharcoal">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Household.HouseholdName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartingBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentBalance)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WarningBalance)
                    </th>
                    <th>
                       Deleted?
                    </th>
                </tr>
            </thead>
            <tr class="fadedCharcoal colorWhite">
                <td>
                    @Html.DisplayFor(model => model.Household.HouseholdName)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Owner.Email)
                </td>

                <td>
                    @Html.DisplayFor(model => model.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Created)
                </td>
                <td>
                    @Html.DisplayFor(model => model.StartingBalance)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CurrentBalance)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WarningBalance)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IsDeleted)
                </td>
            </tr>
        </table>
        <p class="" id="bankAccountDetailsEditBackButtonContainer">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn backgroundWhite colorBlack mr-3 mt-2", id="bankAccountDetailsEditButton" })
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn backgroundWhite colorBlack mt-2", id = "bankAccountDetailsBackButton" })
        </p>

    </div>  
          
