@model RichlynnFinancialPortal.ViewModels.BankAccountIndexViewModel

@{
    ViewBag.Title = "Index";
}



<!--Add Bank Account Begin-->
<div class="modal fade" id="addBankAccountModal">
    <div class="modal-dialog">
        <div class="modal-content backgroundCharcoal text-white">
            <div class="modal-header">
                <h2>Add Bank Account</h2>
                <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="false">x</button>
            </div>
            <div class="modal-body displayFlex">
                @Html.Action("_BankAccountModal", "BankAccounts")
            </div>          
        </div>
    </div>
</div>
<!--Add Bank Account Ends-->


<div class="container-fluid" id="bankAccountsIndexContainer">
    <h2 class="text-white width-100">My Bank Accounts</h2>
    <div class="row width-100" id="bankAccountsIndexRowContainer">
        <table class="table text-white width-100" id="">
            <div class="col" id="">
                <tr class="backgroundCharcoal" id="">

                    <th>
                        Account Name
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Starting Balance
                    </th>
                    <th>
                        Current Balance
                    </th>
                    <th>
                        Warning Balance
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </div>
            <div class="col" id="">
                @foreach (var item in Model.MyBankAccounts)
                {
                    <tr class="fadedCharcoal colorWhite">

                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedString)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartingBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarningBalance)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "colorWhite" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "colorWhite" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "colorWhite" })
                        </td>
                    </tr>
                }


            </div>
        </table>
    </div>


    <h2 class="text-white">Other Household Accounts</h2>
    <div class="row width-100" id="">
        <table class="table text-white width-100" id="">
            <div class="col" id="">
                <tr class="backgroundCharcoal" id="">

                    <th>
                        Account Name
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Starting Balance
                    </th>
                    <th>
                        Current Balance
                    </th>
                    <th>
                        Warning Balance
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </div>
            <div class="col" id="">
                @foreach (var item in Model.HouseholdAccounts)
                {
                    <tr class="fadedCharcoal colorWhite">

                        <td>
                            @Html.DisplayFor(modelItem => item.AccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedString)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartingBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WarningBalance)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "colorWhite" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "colorWhite" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "colorWhite" })
                        </td>
                    </tr>
                }


            </div>
        </table>
    </div>
    <p>
        <a href="#" id="bankAccountIndexAddButton" class="btn backgroundWhite" data-toggle="modal" data-target="#addBankAccountModal">Add New Account</a>
    </p>
</div>





