@model RichlynnFinancialPortal.Models.BudgetItem

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row marginTop60 width-100">
        <table class="width-100 colorWhite">
            <thead class="fadedBlack">
                <tr class="height30">
                    <th>
                       Owner Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>                    
                    <th>
                        @Html.DisplayNameFor(model => model.TargetAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentAmount)
                    </th>
                    <th>
                       Deleted?
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="fadedCharcoal">
                    <td>
                        @Html.DisplayFor(model => model.Budget.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TargetAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CurrentAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IsDeleted)
                    </td>                    
                </tr>
            </tbody>
        </table>
        <p class="displayFlex width-20 mt-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn backgroundWhite width-100" }) |
            @Html.ActionLink("Back to List", "Index", "Budgets", new { @class = "btn backgroundWhite width-100" })
        </p>
    </div>

</div>












