@model RichlynnFinancialPortal.Models.Invitation

@{
    ViewBag.Title = "Create";
}

<div class="container displayFlexColumn" id="createInvitationContainer">
    <div>
        <h2 class="text-white ml-2">Create Invitation</h2>
    </div>

    <div class="text-white width-100">
        @using (Html.BeginForm("Create", "Invitations", FormMethod.Post, new { @class="width-100" }))
        {
            @Html.AntiForgeryToken()
            <!--The below 4 hidden values come from the model's constructor-->
            @Html.HiddenFor(model => model.HouseholdId)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.TTL)
            @Html.HiddenFor(model => model.IsValid)

            <div class="form-horizontal width-100">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group width-100">
                    @Html.LabelFor(model => model.RecipientEmail, htmlAttributes: new { @class = "control-label col-md-8 width-100" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RecipientEmail, new { htmlAttributes = new { @class = "form-control width-40" } })
                        @Html.ValidationMessageFor(model => model.RecipientEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn backgroundWhite width-40" />
                    </div>
                </div>
            </div>
        }

    </div>  
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
